.container {
  display: flex;
  width: 380px;
  height: 230px;
  border: 1px solid #212775; 
  background-color: rgb(255, 255, 255);
  margin: 10px;
  padding: 50px;
}

.rectangle {
  width: 200px;
  height: 100px;
  background-color: #b1ddfa;
  border: 2px solid #096fb3;
  /* transition: border-width 0.3s, 
              border-color 0.3s; */
}

/* .rectangle:hover {
  border-width: 5px;
  border-color: #e6240f;
} */