  .container{
	display: flex;
	height: 200px;
	width: 420px;
	margin: 5px;
	padding: 20px;
	background: linear-gradient(135deg, 
	           #eaa454 0%, 
			   #E86DEC 100%);
  }

  nav {
	background: #f0f0f0;
	color: #000;
	font-family: sans-serif;
	height: 70px;
	width: 100%;
  }
  
  nav div {
	cursor: pointer;
	float: left;
	line-height: 70px;
	text-align: center;
	width: 25%;
  }
  
  nav div:hover {
	background: rgb(255, 238, 238);
	border-bottom: 5px solid silver;
	border-left: 10px solid silver;
	border-right: 10px solid silver;
	border-top: 5px solid silver;
	line-height: 60px;
	transition: 0.3s;
  }