.container {
  display: flex;
  width: 380px;
  height: 230px;
  border: 1px solid #212775; 
  background-color: rgb(255, 255, 255);
  margin: 10px;
  padding: 60px;
}

.click {
  display: inline-block;
  padding: 10px 20px;
  background-color: #3498db;
  color: #fff;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: transform 0.3s, 
              background-color 0.3s;
} 

.click:hover {
  background-color: #ee3c28;
  transform: scale(1.1);
}

.click:active {
  transform: scale(0.9); 
}
