.container {
  display: flex;
  width: 380px;
  height: 230px;
  border: 1px solid #212775; 
  background-color: rgb(255, 255, 255);
  margin: 10px;
  padding: 10px;
  justify-content: center;
  align-items: center;
}

.loading {
  position: absolute;
  width: 100px;
  height: 100px;
  border: 8px solid rgb(201, 194, 194);
  border-top-color: #1c79b8;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

