.container {
  display: flex;
  width: 380px;
  height: 230px;
  border: 1px solid #212775; 
  background-color: rgb(255, 255, 255);
  margin: 10px;
  padding: 10px;
}

.table {
  width: 300px;
  margin: 0 auto;
  border-collapse: collapse;
}

.table th, .table td {
  padding: 10px;
  text-align: center;
  border: 1px solid #3498db;
  background-color: #f2f2f2;
  transition: background-color 0.5s; 
}

.table th {
  background-color: #3498db;
  color: #fff;
}

.table td:hover {
  background-color: #e74c3c;
}

