.container {
  /* display: flex; */
  width: 380px;
  height: 230px;
  border: 1px solid #212775; 
  background-color: rgb(255, 255, 255);
  margin: 10px;
  padding: 30px;
}

.click {
  display: inline-block;
  padding: 10px 20px;
  background-color: #f746df;
  color: #fff;
  border-radius: 7px;
  text-decoration: none;
  transition: background-color 0.3s, 
              transform 0.3s;
}

.click:active {
  animation: clickEffect 0.5s;
}

@keyframes clickEffect {
  0% {
    transform: scale(1);
    background-color: pink;
  }
  50% {
    transform: scale(1.2);
    background-color: #81f07d;
  }
  100% {
    transform: scale(1);
    background-color: #c6f322;
  }
}
