.container {
  display: flex;
  width: 380px;
  height: 230px;
  border: 1px solid #212775; 
  background-color: rgb(255, 255, 255);
  margin: 10px;
  padding: 50px;
}

.circle {
  width: 100px;
  height: 100px;
  background-color: #90d0fa;
  border: 6px solid gray;
  border-top-color: #4beb23;
  border-left-color: #f3f71e;
  border-bottom-color: #f06441;
  border-right-color: #ec50d8;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
      transform: rotate(0deg);
  }
  100% {
      transform: rotate(360deg);
  }
}

