.container {
  display: flex;
  width: 380px;
  height: 230px;
  border: 1px solid #212775; 
  background-color: rgb(255, 255, 255);
  margin: 10px;
  padding: 50px;
}

.animated-button {
  padding: 20px 50px;
  background-color: #007bff;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
  animation: pulse 1s infinite alternate;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.1);
  }
}

.animated-button:hover {
  animation: none; 
  background-color: #0056b3;
}
