.container {
  /* display: flex; */
  width: 380px;
  height: 230px;
  border: 1px solid #212775; 
  background-color: rgb(255, 255, 255);
  margin: 10px;
  padding: 20px;
}

.text-container {
  font-size: 46px;
}

.text {
  padding: 5px;
  border: 6px solid transparent;
}

.text-container:hover .text {
  border-image: linear-gradient(to right,
                red, yellow,
                green, blue,
               orange, pink);
  border-image-slice: 1;
}